@import "../../pages/styles/_breakpoint";
@import "../../pages/styles/_mixin";
.message_bx_wrapper {
  background: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
@include mq(tab){
  width:70%;
}
  .choiceFriendName {
    z-index: 999;
    width: 95%;
    display: flex;
    margin: auto;
    right: 0;
    left: 0;
    color: #fff;
    p {
      margin: 0 0 0 15px;
      line-height: 2.6;
      color:#111;
      font-weight:bold;
    }
  }
  .message_bx_inner {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    padding: 4%;
    box-sizing: border-box;
    width: 100%;
    ul.openMessage_bx {
      li {
        width: 100%;
        height: auto;
        position: unset;
        margin-bottom: 2%;
        overflow: hidden;
        p {
          background: #fff;
          margin: 0;
          padding: 2%;
          box-sizing: border-box;
          border-radius: 5px;
          position: relative;
        }
      }
      li.friendMessage {
        .avatar_bx {
          margin-right: 2%;
          float: left;
        }
        p {
          float: right;
          span {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 8px 5px;
            border-color: transparent #FFF transparent transparent;
            position: absolute;
            left: -15px;
            top: 9px;
          }
        }
      }
      li.myMessage {
        .avatar_bx {
          margin-left: 2%;
          float: right;
        }
        p {
          float: left;
          overflow-wrap:  break-word;
          span {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 8px;
            border-color: transparent transparent transparent #fff;
            position: absolute;
            right: -7px;
            top: 9px;
          }
        }
      }
      li.choiceFriendName {
        p {
          background: none;
          text-align: left;
        }
      }
    }
    .openMessage_bx {
      background: #b6c8ca;
      padding: 2% 1%;
      height: 250px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background: #b6c8ca;
        box-shadow: 0 0 3px #ccc inset;
      }
      &::-webkit-scrollbar-thumb {
        background: #242831;
      }
      @include mq(tab){
        height: 150px;
      }
    }
    .messageCloseBtn {
      background: #fb6b61;
      color: #fff;
      font-weight: bold;
      padding: 10px 0;
      margin: 0 auto;
      border-radius: 5px;
      text-align: center;
      @include mq(pc) {
        width: 300px;
      }
      @include mq(sp) {
        width: 60%;
      }
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}
.message_submitBx {
  padding: 4% 0;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  .left {
    width: 90%;
    height: fit-content;
  }
  .right {
    width: 10%;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: right;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

@include mq(pc) {
  .message_bx_wrapper {
    width: 600px;
    height: 50vh;
    .choiceFriendName {
      .message_bx_inner {
        width: 500px;
      }
    }

  }
}
@include mq(sp) {
  .message_bx_wrapper {
    width: 95%;
    max-height: 65%;
    height: 100%;
    .choiceFriendName {
      .message_bx_inner {
        width: 100%;
        .openMessage_bx {
          .messageCloseBtn {
            width: 60%;
          }
        }
      }
    }
  }
  @include mq(beside) {
    .message_bx_wrapper{
      height: 90vh;
      overflow: hidden;
      width: 70%;
      .message_bx_inner{
        width: 100%;
        position: relative;
        height: 90vh;
        padding: 20px;
        box-sizing: border-box;
        .openMessage_bx{
          height: 150px;
          margin: 10px 0;
        }
        .message_submitBx{
          padding: 5px;
        }
      }
    }
  }
  @include mq(tab){
    .message_bx_wrapper{
      height: 90vh;
      overflow: hidden;
      width: 70%;
      .message_bx_inner{
        width: 100%;
        position: relative;
        height: 90vh;
        padding: 20px;
        box-sizing: border-box;
        .openMessage_bx{
          height: 150px;
          margin: 10px 0;
        }
        .message_submitBx{
          padding: 5px;
        }
      }
    }
  }
}
